Tercer Trimestre/BSintroduccion/Galeria/Imagenes/Tercera_Evaluacion/Ejemplo01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="desayunos" type="definicionDesayunos"/>
    <xs:complexType name="comiditas">

      <!--definición de desayunos-->
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="precio" type="xs:string"/>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="calorias" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="definicionDesayunos">
    <xs:sequence>
      <xs:element type="comiditas" name="comida" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>