Tercer Trimestre/XML/ej2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listaventas"/>
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ventapc" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="ventamonitor" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>