Tercer Trimestre/XML/ej3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--elegimos sin poner limite entre uno u otro elemento-->

    <xs:element name="listaventas">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="ventapc" type="xs:string" />
                <xs:element name="ventamonitor" type="xs:string" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>