Tercer Trimestre/XML/ejercicioDOS.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listapedidos">
        <xs:complexType>
                <xs:element name="pedido"/>
            <
                 <xs:sequence>
                <xs:element name="importe" type="xs:long"/>
                <xs:element name="direccion" type="xs:string"/>
                <xs:element name="cliente" type="xs:string"/>
                <xs:element name="cod" type="xs:string"/>
                 </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>